* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images.unsplash.com/photo-1521459467264-802e2ef3141f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.canvas-container {
  width: 600px;
  height: 750px;
  border: 2px solid black;
  margin: auto;
}

canvas {
  border: 2px solid white;
  background-color: black;
}

#startButton:hover {
  opacity: 0.8;
}
